# For Mask R-CNN you need exactly these packages, otherwise it won't work
#
# 1. Make sure to install conda environment with correct python version first
#
#       conda create --name maskrcnn python=3.5.5
#       conda activate maskrcnn
#
# 2.    conda install GraphViz
#
# 3. Then only use PIP and run this file
#
#       pip install -r requirements.txt

#python==3.5.5
tensorflow==1.14.0
tensorboard==1.14.0
keras==2.2.4
numpy==1.18.4
#setuptools==46.3.1
scikit-image==0.15.0
scipy==1.4.1
Pillow
cython
matplotlib
opencv-python
h5py
imgaug
IPython[all]
pydot-ng        # change in vis_utils.py' to "import pydot_ng as pydot" and 
                # install http://www.graphviz.org/download/ add to PATH 
                # environment variable. If it still does not work, edit code
                # in C:\Users\Martin\AppData\Local\conda\conda\envs\maskrcnn\Lib\site-packages\pydot_ng\__init__.py
                # and set the path manually. Remove rest of the code
                #   path = r"C:\Users\Martin\Documents\LEGOFinder\Software\graphviz-2.38\bin"
keras-resnet
keras-vis
